body {
  margin: 0;
  padding: 0;
}

/* .container {
  display: grid;
  grid-template-rows: 1fr 8fr;
} */

.header {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  /* width: 100vw; */
  padding: 1rem;
  font-size: 40px;
  font-weight: bolder;
  background-color: black;
  color: aliceblue;
}

.main {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, auto));
  gap: 1rem;
  /* overflow-wrap: normal; */
  width: 100vw;
}

.newCard {
  width: 14rem;
  height: 19rem;
  border: 2px solid black;
  border-radius: 1rem;
  display: grid;
  align-content: center;
  justify-items: center;
  background-color: rgb(220, 234, 158);
}

.newCard h3,
.newCard h2 {
  margin: 0;
  padding: 5px;
}

.newCard h2 {
  color: red;
  font-weight: bolder;
}

.buttons {
  padding-top: 1rem;
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
}

.buttonsRight {
  padding: 0.7rem;
  /* border-bottom: 2px solid black; */
  border-radius: 1rem;
  height: 2.5rem;
  width: 5rem;
  background-color: rgb(94, 232, 94);
  font-weight: bolder;
}

.buttonsWrong {
  padding: 0.7rem;
  /* border-bottom: 2px solid black; */
  border-radius: 1rem;
  height: 2.5rem;
  width: 5rem;
  background-color: rgb(252, 51, 51);
  font-weight: bolder;
}

/* Styling form section */

.form-container {
  display: grid;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(222, 144, 144, 0.7);
}

.form-container form {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  font-size: large;
  font-weight: bolder;
}

.form-container input {
  border-radius: 0.3rem;
}

#Submit {
  width: 4rem;
  height: 1.6rem;
}

.form-container h1 {
  margin: 0;
  padding: 10px;
}
